BOT_ENV=developement
CONFIG_FILENAME=config
BOT_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
DISCORD_CHANNEL_FOR_TWEET_GAME_NEWS=
DISCORD_CHANNEL_FOR_TWEET_GAME_STORE=
DISCORD_ADMIN_ID=
REDIS_URL=redis://localhost:6379
PLG_REDIS_POOL=1
# PLG_STATUSUPDATE_DATE=2022-02-08 17:00
# PLG_STATUSUPDATE_ENABLED=true
# PLG_STATUSUPDATE_EVERY=5
# PLG_STATUSUPDATE_GAME=TEST!
# PLG_STATUSUPDATE_NBUNITS=3